.double-nav .breadcrumb-dn {
    color: #fff;
}
.button-collapse i {
    color: #fff
}
.top {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
.navbar{

    background-color: #aab001;
    padding: 10px;
}
.leftcolumn {
    float: left;
    width: 75%;
}
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 5px;
}
.fakeimg {

    height:200px;
    width: 100%;
    padding: 20px;
}
.card {
    background-color: white;
    padding: 5px;
    margin-top: 5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}



